@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    width: 500px;
    border-radius: 10px;
    padding: 30px;
}

.file-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-upload-container h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.file-upload-form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-upload-label input {
    display: none;
}
.file-upload-label svg {
    height: 50px;
    fill: rgb(82, 82, 82);
    margin-bottom: 20px;
}
.file-upload-label {
    cursor: pointer;
    background-color: #ffffff;
    padding: 30px 100px;
    border-radius: 20px;
    border: 2px dashed rgb(82, 82, 82);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.file-upload-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 25px;
}
.browse-button {
    background-color: rgb(82, 82, 82);
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s;
    font-size: 17px;
}
.browse-button:hover {
    background-color: rgb(14, 14, 14);
}

.files-uploaded {
    margin-top: 20px;
}

.file {
    display: flex;
    align-items: center;
    width: 370px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 15px;
}

.file img {
    width: 30px;
    margin: 10px;
}

.uploaded {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.uploaded img {
    width: 20px;
    margin: 5px;
}
